*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$bgcolor: #ADDFAD;
$textcolor: #452E39;
$fontsize: 5rem;

body{
    background-color: $bgcolor;
}

a,
a:hover,
a:active,
a:link,
a:visited{
    text-decoration: none;
}

 ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.main_header{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $bgcolor;
}
ul{
    width: 100%;
}
.main_header ul li{
    display: block;
    text-align: center;
    display: block;
    transition: 0.3s;
    &:hover{
        background-color: #121212;
    }
    &:hover a{
        color: #ADDFAD;
    }
}

.main_header ul li a{
    font-family: poppins;
    color: $textcolor;
    font-size: $fontsize;
    transition: 0.3s;
}
